.content{
	@include center(1200px);
}
body{
	color:  #fff;
}
.backgrond-image {
    height: 100%;
    background-size: cover;
}
.banner {
    height: 100vh;
    position: relative;
}
@import "home";
@import "pagina";
@import "mobile";
@import "searchresult";
@import "print";

