.slicknav_btn {
	position: relative;
	display: block;
	vertical-align: middle;
	float: right;
	padding: 0.438em 0.625em 0.438em 0;
	line-height: 1.125em;
	cursor: pointer;
	    margin-top: 15px;
	.slicknav_icon-bar + .slicknav_icon-bar {
		margin-top: 0.3em;
	}
}
.slicknav_menu {
	*zoom: 1;
	.slicknav_menutxt {
		display: block;
		line-height: 1.188em;
		float: left;
	}
	.slicknav_icon {
		float: left;
		width: 2.125em;
		height: .195em;
		margin: 0.188em 0 0 0.438em;
        &:before { // Firefox Mobile v42 bugfix
            background: transparent;
            width: 1.125em;
            height: 0.875em;
            display: block;
            content: "";
            position: absolute;
        }
	}
	.slicknav_no-text {
		margin: 0;
	}
	.slicknav_icon-bar {
		display: block;
		width: 2.125em;
		height: .195em;
		-webkit-border-radius: 1px;
		-moz-border-radius: 1px;
		border-radius: 1px;
		-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
		-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
		box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	}
	&:before {
		content: " ";
		display: table;
	}
	&:after {
		content: " ";
		display: table;
		clear: both;
	}
}
.slicknav_nav {
	clear: both;
	ul {
		display: block;
	}
	li {
		display: block;
	}
	.slicknav_arrow {
		font-size: 1.2em;
		margin: 0 0 0 0.4em;
	}
	.slicknav_item {
		cursor: pointer;
		a {
			display: inline;
		}
	}
	.slicknav_row {
		display: block;
	}
	a {
		display: block;
	}
	.slicknav_parent-link a {
		display: inline;
	}
}
.slicknav_brand {
	float: left;
}

.slicknav_menu {
	font-size: 16px;
	box-sizing: border-box;
	padding: 5px;
	padding: 0 30px;

	* {
		box-sizing: border-box;
	}
	.slicknav_menutxt {
		color: $grigio;
		font-weight: bold;
	}
	.slicknav_icon-bar {
		background-color: $rosso;
	}
}
.slicknav_btn {
	text-decoration: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	float: right;
}
.slicknav_nav {
	margin: 0;
	background: #fff;
	font-size: .875em;
	transition: position 300ms $ease-out-quad; /* easeOutQuad */

	 transition-timing-function:  $ease-out-quad  ; /* easeOutQuad */
	width: 100%;
	left: 0;
	top: 105px;
	padding-left: 0;
	text-align:center;
	z-index: 99;
	position: absolute;
	border-top: 1px solid #008788;
	border-bottom: 1px solid #008788;
	li{
		height: 80px;
		border-bottom: 1px solid $rosso;
		&:last-child{
			border-bottom: 0;
		}
	}
	.scroll &{
		top: 100px;
	}
	ul {
		list-style: none;
		overflow: hidden;
		padding: 0;
	}
	.slicknav_row {
		padding: 5px 0;
		margin: 2px 0;
		transition: all 0.5s ease-in-out;
		&:hover {

			background: $rosso;
			color: $white;
		}
	}
	a {
		padding: 5px 0;
		margin: 2px 0;
		text-decoration: none;
		font-size: 18px;
		text-align: center;
		line-height: 60px;
		color: $rosso;
		transition: all 0.5s ease-in-out;
		&:hover {
			background: $rosso;
			color: $white;
		}
	}
	.slicknav_txtnode {
		margin-left: 15px;
	}
	.slicknav_item a {
		padding: 0;
		margin: 0;
	}
	.slicknav_parent-link a {
		padding: 0;
		margin: 0;
	}
}
.slicknav_brand {
	color: $grigio;
	font-size: 18px;
	line-height: 30px;
	padding: 7px 12px;
	height: 44px;
}
.slicknav_menu {
	display: none;
	position: absolute;
	width: 100%;
	right: 0;
	top: 15px;

}

